@import "./utils/variables.scss";
@import "./utils/functions.scss";
@import "./utils/mixins.scss";
@import "./utils/placeholders.scss";

body{
   font-family: 'Roboto',sans-serif;
    margin: 0;
}

.header{
    text-align: center;
    margin:30px 0 0 0;

    &__localisation{
        display: flex;
        justify-content:center;
        align-items: center;
        height: 50px;
        border-top: 2px solid #F2F2F2;
        background:#F2F2F2;
        margin-top: 10px;
        box-shadow: 0px 2px 2px 1px #F2F2F2;
     
    }
    &__localisation p{
        margin-left: 15px;
    }
}
.description{
  text-align: center;
    
    &__title{
        padding: 0 50px;
    }
    &__text{
        font-size: 13px;
        padding: 0 50px;
    }
    &__button{
        @include button-bradius
    }
}