.loader {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f2f2f2;
  opacity: 0.9;
  animation: fade linear;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  z-index: 1;
  width: 100%;

  span {
    color: #ff79da;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: "Shrikhand", sans-serif;
  }
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
    border: 5px dotted $color-primary;
  }

  50% {
    transform: rotate(180deg);
    border: 5px dotted $color-secondary;
  }
  100% {
    transform: rotate(360deg);
    border: 5px dotted $color-tertiary;
  }
}

.ring {
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  animation: ring 3s ease-in-out;
  animation-fill-mode: both;
}

//   @keyframes fade {

//     0%{
//    z-index:1
//     }
//     100%{
//     opacity: 0;
//      z-index:0
//     }}

@keyframes fade {
  to {
    transform: scale(0);
  }
}
