@import "./utils/mixins";
@import"utils/variables";
@import "./base/box-sizing";
@import "./base/normalize";
@import "./base/typographie";

.header{
    text-align: center;
    box-shadow: 0px 5px 5px lighten(grey,35%);
    margin-top: 20px;
    position: relative;
    z-index: 1;

    &__logo{
        padding-bottom: 10px;
    }
}

.localisation{

    @include flexColumn;
    background: #F2F2F2;

    &__place{
        @include flexRow;
        background:darken(#F2F2F2, 5%);
        padding: 15px 0;
        width: 100%;
        margin-bottom: 20px;
        
        

        i{
            padding-right: 10px;
        }

        address{
            font-style: normal;
        }
    }

    &__title{
        text-align: center;
   
        padding: 0 30px;
      
    }

    &__text{
        opacity: 0.5;
       text-align: center;
       margin: 0 0 16px 0;
    }
    &__link{
        text-decoration: none;
        padding: 15px;
        border-radius: 30px;
        background: linear-gradient($color-secondary,$color-primary,);
        color: #FFF;
        cursor: pointer;
        margin:15px 0 60px 0;
        box-shadow: 0px 5px 5px lighten(grey,35%);
    }

}

.fonctionnement{
    padding: 10px;
  
   
  
    &__list{
    padding-left: 0px;
        list-style-type: none;
        counter-reset: li ;
        display: flex;
        flex-direction: column;
        gap: 20px;
     
       
     
     


        &__items{

            position: relative;
            padding: 20px 0;
            border-radius: 15px;
            cursor: pointer;;
            display: flex;
            align-items: center;
            margin-left: 10px;
            border: 1px solid #F2F2F2;
            background:linear-gradient(#F2F2F2,30%,#FFF);
            box-shadow: 5px 5px 5px #F2F2F2;
            
            &:hover{
                background: lighten($color-primary, $amount: 35%);
            }
            
           
            &::before{
                content: counter(li); color:#FFF;
                background: $color-primary;
                counter-increment:  li ;
                padding: 3px 6px;
                border-radius: 50%;
                position: absolute;
                left: -10px;
                font-size: 10px;
                

                
                
            }
         
         

           &__links{
                text-decoration: none;
              

                &:visited{
                    color: black;
                }
            
              


                &__title{
                     display: inline;
                     font-size: 14px;
                         }
                i{
                    padding: 0 15px 0 25px;
                    color: grey;
                }
               
         
           
           }
           
         
           
        }
    }
}

.restaurants{
    padding: 10px;
    background: #F2F2F2;
    margin-top: 20px;   
    padding-bottom: 40px;

    &__main{
        display: flex;
        flex-direction: column;
        gap: 20px;
     
       
        &__article{
            position: relative;
            border-radius:15px;
            box-shadow: 5px 5px 5px darken(#F2F2F2,20%);

            &__img{
                width: 100%;
                height: 200px;
                object-fit: cover;
                border-radius: 15px 15px 0 0;
            }

            &__subtitles{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 15px 10px ;

                &__link{
                    text-decoration: none;
                    color: black;
                    &:visited{
                        color: black;
                    }
                    

                    &__title{
                        margin: 0;
                    }
                    &__place{
                        font-weight: lighter;
                        margin: 0;
                        margin-top:5px ;
                        
                    }
                }

                &__like{
                    border: none;
                    background: none;
                    cursor: pointer;
                 
                   

                    &:hover{
                        background-color: yellow;
                       
                    }

                    i{
                        font-size: 25px;
                      border: 1px;
                      
                    

                      
                    }
                    
                }
            }

            &__flag{
                position: absolute;
                top:15px;
                right: 12px;
                background: $color-tertiary ;
                color: darken($color-tertiary, 45%);
                font-weight: bold;
                padding: 5px 10px;
                border-radius: 3px;
            }
        }
    }
}

.footer{
    color: #FFF;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: darken(grey,30%);


    &__title{
        font-family: 'Shrikhand',sans-serif;
    }

    &__link {

        color: #FFF;

      

        &__mail{

            color: #FFF;

            &:visited{
                color: black;
            }
        }
        
        p{
            display: inline;
            padding-left: 5px;
    }

     

        i{
            font-size: 16px;
            width: 20px;
        }
    }
}