@mixin titles-fonts{
    font-family: "Shrikhand", sans-serif;
}

@mixin button-bradius{
    border-radius: 15px;
    padding: 10px;
    background: $color-secondary;
    color: white;
    
  
}

@mixin flexRow{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

@mixin boxShadow ($colour:$bg-color){
    box-shadow: 5px 5px 5px $colour;
    
}