a{
    text-decoration: none;

}

a{
    color: black;
}

.localisation__link{

    padding: 15px;
    border-radius: 30px;
    background: linear-gradient($color-secondary,$color-primary,);
    color: $btn-color;
 
    margin:15px 0 60px 0;
    @include boxShadow(lighten(grey,35%));

    &:hover{
        @include boxShadow(lighten(grey,25%))
    }
}

.menu{

    &__heading{
        &__button{
            border: none;
            background: none;
            cursor: pointer;
        }

    }
    &__main{
        &__button
        {text-align: center;
            &__btn{
            padding: 15px 45px;
    border-radius: 30px;
    background: linear-gradient($color-secondary,$color-primary,);
    color: $btn-color;
 
  margin-top: 30px;
  margin-bottom: 60px;
    @include boxShadow(lighten(grey,35%));
    border: none;
    cursor: pointer;
    &:hover{
        @include boxShadow(lighten(grey,25%))
    }
        }

       
    }
}
}