// permet d'avoir le footer collé en bas de page peu importe la taille de l'écran
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.footer {
  color: #fff;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: darken(grey, 30%);
  @include tablet {
    align-items: center;
  }

  // permet d'avoir le footer collé en bas de page peu importe la taille de l'écran https://css-tricks.com/couple-takes-sticky-footer/#aa-there-is-flexbox
  @include xlarge-screen {
    flex-shrink: 0;
  }

  &__title {
    @include titles-fonts;
  }
  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    @include tablet {
      @include flexRow;
      gap: 30px;
    }

    &__items {
      &__link {
        color: #fff;

        &:visited {
          color: #fff;
        }

        &__mail {
          color: #fff;

          &:visited {
            color: #fff;
          }
          @include tablet {
            margin-right: 65px;
          }
        }

        p {
          display: inline;
          padding-left: 5px;
        }

        i {
          font-size: 16px;
          width: 20px;
        }
      }
      @media screen and (min-width: 768px) and (max-width: 1023px) {
        .fa-utensils {
          margin-left: 64px;
        }

        // .fa-handshake-angle{
        //     margin-left: 32px;
        // }
      }
    }
  }
}
